<html>
<head>
    <script>
        document.addEventListener("visibilitychange", function () {
            document.title = document.hidden ? "Tab Inactive" : "Tab Active";
        });

    </script>
</head>
<body>
    <h3>Event Tab</h3>
</body>
</html>